.form-style {
    border: 1px solid black;
    margin: 4%;
    padding: 10%;
    border-radius: 1%;
}

button {
    background: black;
    padding: 2%;
    font-size: 2rem;
    color: white;
}

a.link-style {
    text-decoration: none;
    color: blue;
    padding: 3%;
    cursor: pointer;
}

body {
    background-color: #f2f2f2;
}