.book-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.book-info {
    flex: 1;
    padding: 1rem;
}

.book-title {
    margin-top: 0;
}

.book-author {
    color: gray;
}

.review-stats {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: gray;
}

.review-section {
    flex: 2;
    padding: 1rem;
    border-left: 1px solid lightgray;
}

.review-list {
    list-style: none;
    padding: 0;
}

.review-item {
    margin-bottom: 1rem;
}

.review-text {
    margin-bottom: 0.5rem;
}

.review-meta {
    font-size: 0.8rem;
    color: gray;
}

.review-detail-link {
    margin-left: 0.5rem;
    text-decoration: underline;
}

.add-review-section {
    text-align: center;
    flex: 2;
    padding: 1rem;
    border-left: 1px solid lightgray;
}

.form-check {
    margin-right: 1rem;
}


.form-check-label+.form-check-input {
    margin-left: 1rem;
}

.form-control {
    width: 50%;
    align-content: center;
}