{% extends 'user/index.html' %}
{% load bootstrap3 %}

{% block title %}
<h2 class="text-center mb-5">Add a New Author</h2>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% bootstrap_form form %} <br/>
                    <input class="btn btn-primary" type="submit" value="Save">
                </div>
            </div>
        </form>
    </div>
{% endblock %}