{% extends 'user/index.html' %}
{% load static %}

{% block title %} {{ review.book.title }} - {{ review.book.author }} {% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'books/review_detail.css' %}">
{% endblock %}

{% block content %}

<div class="review-detail">
  <div class="review-info">
    <h1 class="review-title">{{ review.book.title }}</h1>
    <h2 class="review-author">by {{ review.book.author }}</h2>
    <div class="review-meta">
        Rated {{ review.rating }} of 10 by {{ review.user.username }} on {{ review.pub_date|date:"M d, Y" }}
    </div>
    <div class="review-text">{{ review.comment }}</div>
  </div>
</div>

<div class="review-back">
    <a href="{% url 'book_list' %}">Back to book list</a>
</div>
{% endblock %}